---
http_interactions:
- request:
    method: get
    uri: https://info.gbiz.go.jp/hojin/v1/hojin/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Hojininfo-Api-Token:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":null,"message":"400 - Bad Request.","errors":[]}'
  recorded_at: Mon, 13 Dec 2021 15:00:32 GMT
recorded_with: VCR 6.0.0
